# Ignore local configurations and logs from Local WP
conf/
logs/

# Ignore Node dependencies
node_modules/
**/node_modules/

# OS files
.DS_Store
Thumbs.db

# Temp / backup files
*.tmp
~$*
.envrc
local-xdebuginfo.php

# WordPress uploads (exclude large media files)
app/public/wp-content/uploads/

# Log files
*.log
**/debug.log
**/logs/

# WordPress Core Folders
app/public/wp-admin/
app/public/wp-includes/
app/public/wp-content/themes/twentytwentyfive/
app/public/wp-content/themes/twentytwentyfour/
app/public/wp-content/themes/twentytwentythree/

# WordPress Core Files
app/public/index.php
app/public/license.txt
app/public/readme.html
app/public/wp-activate.php
app/public/wp-blog-header.php
app/public/wp-comments-post.php
app/public/wp-config-sample.php
app/public/wp-config.php
app/public/wp-cron.php
app/public/wp-links-opml.php
app/public/wp-load.php
app/public/wp-login.php
app/public/wp-mail.php
app/public/wp-settings.php
app/public/wp-signup.php
app/public/wp-trackback.php
app/public/xmlrpc.php
